# Used by pip to install required python packages
# Usage: pip install -r requirements.txt

gunicorn
Flask
Flask-Assistant
Flask-WTF
Flask-Uploads
flask-csrf
Flask-Mail
passlib
WTForms





